html{
    height: 100%;
}

body{
    height: 100%;
}

.bg-light.bg-opacity-50 {
    background-color: #f8f9fa50 !important;
}

.bg-gradient-blush {
    background: rgb(238,174,202);
    background: radial-gradient(circle at bottom, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}